body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: #34495e;
  color: #34495e;
  padding: 5%;
}

#main {
  background-color: #ecf0f1;
  border-radius: 5px;
  padding: 5%;
}

::placeholder {
  color: #bdc3c7;
}

.title {
  font-size: 3em;
}

.flag-key {
  color: #ecf0f1;
  background-color: #34495e;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
}

#flag-search {
  padding: 10px;
  background-color: #ecf0f1;
  border: 1px solid #34495e;
  color: #34495e;
  font-size: 1.25em;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.p-5px {
  padding: 5px;
}

.pl-5 {
  padding-left: 5%;
}

.pl-5px {
  padding-left: 5px;
}

.pl-25px {
  padding-left: 25px;
}

.ml-5 {
  margin-left: 5%;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}